{% load static %}
<html>
    <head>
        {% include "static/css.html" %}
        <title>Task Duration Analysis</title>
    </head>
    <body>
        {% include "static/js.html" %}
        {% include "contents/duration-header.html" %}

        <div id="duration-contents">
            {% include "contents/duration-content.html" %}
        </div>

        <div id="parcoords-contents">
            {% include "contents/parcoords-content.html" %}

            {% block preselected-id %}
            {% endblock %}
        </div>

        <script>
            window.onload = function() {
                $('#parcoords-contents').css({"opacity": "0.001", "left": "100vw"});
                $('#duration-contents').css( {"left": "0", "opacity": "1"});
                $('#header').css('opacity', '1');

                // Set the dates so they point at the last month
                SetDates('last-month');
            };
        </script>
    </body>
</html>