{% load static %}
<html>
    <head>
        {% include "static/css.html" %}
        <title>Parallel Coordinates</title>
    </head>
    <body>
        {% include "static/js.html" %}
        {% include "contents/header.html" %}

        <div id="parcoords-contents">
            {% include "contents/parcoords-content.html" %}

            {% block preselected-id %}
            {% endblock %}
        </div>
        {#    <h1>Sequences of statuses:</h1>#}
        {#    {% for key, values in sequences.items %}#}
        {#        <h2>{{ key | safe }}</h2>#}
        {#        {% with y=forloop.counter|stringformat:"s" %}#}
        {#            <div id={{ "seq_"|add:y }}></div>#}
        {#        {% endwith %}#}
        {#    {% endfor %}#}
        {##}
        {#    <script>#}
        {#    seq_counter = 0;#}
        {#    for (var key in sequences) {#}
        {#        seq_counter += 1;#}
        {#        var x = new ParallelCoordinates('seq_'+seq_counter,sequences[key]['columns'],#}
        {#                    sequences[key]['data'],'JOBSTATUS',null);#}
        {#        x.options.draw.mode = "cluster";#}
        {#    }#}
        {#	</script>#}
    </body>
</html>