{% load static %}
<div id="header">
    <div id="header-content">
        <div id="header-buttons">
            <span class="header-button header-button-selected"
                  id="header-taskanalysis" onclick="ChangeTab(this)">Task Analysis</span>
            <span class="header-button hidden" id="header-parallelcoordinates"
                  onclick="ChangeTab(this)">Parallel Coordinates</span>
        </div>

        <p><a href="https://github.com/PanDAWMS/InVEx-ParCoords-SA">
            <img src="{%  static 'images/github-logo.png' %}" alt="GitHub repo link" class="repo-link">
        </a></p>
    </div>
</div>