{% load static %}
<div id="parcoords-first-page" class="description-wrapper">
    <div id="data-loading">
        <div id="taskid-selector">
            Please enter a JediTaskID here and press the button.
            <br><br>

            <input type="number" required="" name="Task ID" id="jeditaskid_input" autofocus="">
            <button type="button" id="jeditaskid_button" onclick="GetIDinfo(
                document.getElementById('jeditaskid_input').value)">Request data</button>
        </div>

        <div class="pc-loading" id="parcoords-request-loading">
            Please wait while the data is loading...
        </div>
    </div>
</div>

<div id="parcoords-after-load">
    <div class="parcoords-box parcoords-left-menu">
        <p><b>TaskID:</b> <span id="pc-taskid_value"></span></p>
        <p><b>Number of jobs:</b> <span id="pc-jobs_value"></span></p>
        <p><b>Finished/failed:</b> <span id="pc-finished-failed_value"></span></p>
        <p><b>Duration:</b> <span id="pc-duration_value"></span></p>
        <p><b>Start:</b> <span id="pc-start_value"></span></p>
        <p><b>End:</b> <span id="pc-end_value"></span></p>

        <br>
        <button type="button" id="scouts_button" class="blue" onclick="SwitchDiagram('scouts')">Scouts</button>
        <button type="button" id="finished_button" class="green" onclick="SwitchDiagram('finished')">Finished</button>
        <button type="button" id="failed_button" class="pink" onclick="SwitchDiagram('failed')">Failed</button>
        <button type="button" id="pre-failed_button" class="orange" onclick="SwitchDiagram('pre_failed')">Pre-Failed</button>

        <div style="height: 50px"></div>

        <div id="color_div">
            <span>Color by </span>
        </div>
    </div>

    <div id="parcoords-diagram-container" class="parcoords-box">
        <h1 id="parcoords-diagram-label">Scouts</h1>
        <div id="plotly-scatterplot"></div>
        <div id="parcoords-too-much-data"></div>
        <div id="parcoords-diagram"></div>
    </div>
</div>