{% load static %}
<div id="parcoords-first-page" class="description-wrapper">
    <h1>Parallel Coordinates</h1>
    <div id="data-loading">
        <div id="taskid-selector">
            Please enter a JediTaskID here and press the button.
            <br><br>

            <input type="number" required="" name="Task ID" id="jeditaskid_input" autofocus="">
            <button type="button" id="jeditaskid_button" onclick="GetIDinfo(
                document.getElementById('jeditaskid_input').value)">Request data</button>
        </div>

        <div class="pc-loading" id="parcoords-request-loading">
            Please wait while the data is loading...
        </div>
    </div>
</div>

<div id="parcoords-after-load">
    <div class="parcoords-box">
        <h1 id="taskid_header"></h1>
        Jump to: <br>
        <a href="#scouts">Scouts</a> <br>
        <a href="#finished">Finished</a> <br>
        {# <a href="#closed">Closed</a> <br> #}
        <a href="#failed">Failed</a> <br>
        {# <a href="#all_failed">All Failed</a> <br> #}
        <a href="#pre_failed">Pre-Failed</a> <br>
    </div>

    <div id="scouts" class="parcoords-box">
        <h1>Scouts</h1>
        <div id="scouts_pc"></div>
    </div>

    <div id="finished" class="parcoords-box">
        <h1>Finished</h1>
        <div id="finished_pc"></div>
    </div>

    {# <div id="closed" class="parcoords-box"> #}
    {#    <h1>Closed</h1>#}
    {#	<div id="closed_pc"></div>#}
    {# </div> #}

    <div id="failed" class="parcoords-box">
        <h1>Failed</h1>
        <div id="failed_pc"></div>
    </div>

    {# <div id="all_failed" class="parcoords-box"> #}
    {#    <h1>All Failed Statuses</h1>#}
    {#	<div id="all_failed_pc"></div>#}
    {# </div> #}

    <div id="pre_failed" class="parcoords-box">
        <h1>Pre-Failed Statuses</h1>
        <div id="pre_failed_pc"></div>
    </div>
</div>