/* Page background */
html{
	height:100%;
	overflow: hidden;
}

body{
	height: 100%;
	margin: 0;
}

/* Header */
#header{
	font-family: 'Lato', sans-serif;
	color: white;
	height: 59px;
	transition: all .5s ease;
	opacity: 0.001;

	background: #333;
}

#header-content{
	display: flex;
	justify-content: space-between;
	left: 20%;
	max-width: 60%;
	position: relative;
}

@media screen and (max-width:1000px) {
	#header-content {
		left: 5%;
		max-width: 90%;
	}
}

#header-buttons{
	margin-top: 10px;
	height: 45px;
	white-space: nowrap;
}

.header-button{
	font-weight: bold;
	font-family: Source Code Pro, monospace;
	margin-bottom: 0;
	color: gray;
	font-size: 16pt;
	transition: all .5s ease;
	height: 40px;
	display: table-cell;
	vertical-align: bottom;
}

.header-button:not(:last-child){
	padding-right: 15px;
}

.header-button:not(.header-button-selected):hover{
	color: lightgray;
	cursor: pointer;
}

.header-button-selected{
	font-size: 24pt;
	color: white;
}

/* Duration analysis */
#duration-contents{
	height: calc(100% - 59px);
	width: 100%;
	overflow: hidden;
	position: absolute;
	transition: all .5s ease;
	opacity: 0;
	left: 0;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
}

#duration-description{
	width: 80%;
	left: 20%;
}

.duration-block{
	width:100%;
	transition: flex 0.3s ease;
}

.duration-block-left{
	flex: 0 0 20%;
}

.duration-block-left button{
	padding: 5px;
	margin: 15px;
	width: 150px;
}

.duration-block-left .pc-loading{
	display: none;
	width: 150px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

.duration-block-right{
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;

	flex: 1 1 60%;

	transition: all 0.3s ease;
	opacity: 0;
}

.duration-block-right .parcoords-box:nth-child(1) {
	flex: 1 1 75%;
}

.duration-block-right .parcoords-box:nth-child(2) {
	flex: 0 0 300px;
}

.duration-box{
	height: calc(100% - 54px);
	color: black;
	margin: 10px;
	padding: 5px;
	border-radius: 5px;
	text-align: center;
}

#duration-loading-label{
	display: none;
}

.duration-img{
	height: 15px;
	width: 15px;
	cursor: pointer;
}

.duration-img:not(:last-child){
	margin-right:5px;
}

.hidden{
	display: none;
}

.img-unclickable{
	cursor: unset;
}

#slowest-tasks-list_wrapper .ui-button{
    margin-bottom: 3px;
	padding: 3px;
}

#slowest-tasks-list_length{
	float: right;
}

/* Description box */
.description-wrapper{
	width: 100%;

	font-family: 'Lato', sans-serif;
	color: black;
	text-align: center;

	transition: all .5s ease;
	opacity: 1;

	margin: 0;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.description-wrapper h1{
	font-family: Source Code Pro, monospace;
	font-size: 45px;
	line-height: 48px;
	margin-bottom: 100px;
	text-shadow: 2px 2px 3px rgba(255,255,255,0.4);
}

.description-wrapper h3 {
	font-family: Source Code Pro, monospace;
	margin-bottom: 5px;
}

.description-wrapper p{
	left: 25%;
	max-width: 50%;
	position: relative;
}

.description-wrapper p span{
	vertical-align: super;
}

.description-wrapper p:last-of-type{
	margin-bottom: 75px;
}

/* Parallel Coordinates */
#parcoords-contents{
	height: calc(100% - 59px);
	width: 100%;
	overflow: hidden;
	position: absolute;
	transition: all .5s ease;
	opacity: 0.001;
}

#parcoords-first-page{
	transition: all .5s ease;
}

#parcoords-after-load{
	font-family: 'Lato', sans-serif;

	color: white;
	height: 100%;
	overflow: hidden;
	text-align: center;
	position: absolute;
	width: 100%;
	transition: all .5s ease;
	opacity: 0.001;

	display: flex;
	flex-direction: row;
}

.parcoords-box{
	color: black;
	margin: 10px;
	padding: 5px;
	border-radius: 5px;
	text-align: left;
	overflow-y: auto;
}

.parcoords-left-menu{
	flex: 0 0 250px;
}

.parcoords-left-menu p{
	margin: 5px;
}

.parcoords-left-menu p:first-child{
	font-size: 22px;
	margin: 5px;
}

.parcoords-left-menu button{
	display: block;
	width: 100px;
	padding: 5px;
	margin-bottom: 5px;
	margin-left: auto;
	margin-right: auto;
}

.green{
	background: lightgreen;
}

.orange{
	background: orange;
}

.pink{
	background: pink;
}

.blue{
	background: lightblue;
}

#data-loading{
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	background: white;
	color: black;
	padding: 15px;
	border-radius: 15px;
}

#data-loading .pc-loading{
	margin-top: 0px;
	display: none;
}

/* not used :( */
#drop_zone {
	border: 3px dashed #e6e6e6;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 25px;
	text-align: center;
	min-width: 300px;
	max-width: 60%;
	margin: auto;
	color: white;
}